
header {
    text-align:center;
    font-size:64px;
}
.centerText{
    text-align:center;
    font-size: 32px;
}
#vaultCode {
    margin: auto;
}
#clock {
    margin-left:60%;
    text-align:center;
    width:15%;
    background-color:blue;
    border-style:solid;
    border-color:black;
    border-width:5px;
}
#minutesLeftDisplay{

}